body {
    background: url("../images/redwoods.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}
main {
    margin: 25px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    margin-bottom: 10px;
    background-color: white;
    border-color:black;
    padding: 6px;
    border-radius: 2px;
    box-shadow: black 0 0 15px;
}
.nav {
    color: white;
    font-size: 2rem;
    text-shadow: black 0 0 15px;
}
.top-bar {
    background: url("../images/redwoods.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}
.drop-down-options {
    width: 30%;
    box-shadow: black 0 0 8px;
    border-color: black;
}
.menu-container {
    text-align: center;
    color: white;
    text-shadow: black 0 0 15px;
}
.weather-forecast {
    text-align: center;
}
.forecast-date {
    font-size: 25px;
}
.weather-info {
    list-style: none;
    font-size: 1.25rem;
}
.img {
    width:  25rem;
    height: 22rem;
    object-fit: cover;
}
.img-holder {
    text-align: center;
    padding: 0;
}
.park-info-holder {
    padding: 0;
    text-align: left;
}
.park-header {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 15px;
}
.park-description {
    font-size: 1.5rem;
}
.saved-parks {
    text-align: center;
    margin: 0 150px;
    color: white;
    text-shadow: black 0 0 15px;
}
.clicked-parks {
    margin: 25px 200px;
    padding: 15px;
    background-size: cover;
}
.clicked-parks h4 {
    text-align: center;
    font-weight: bold;
    color: white;
}
.saved-park-elements {
    list-style: none;
    text-align: center;
}
.saved-temp {
    color: white;
}
.saved-park-elements img {
    background-color: rgb(95, 129, 150);
    border-radius: 5px;
    align-items: center;
}

/* Small screen (less than 639px) */
@media screen and (max-width: 39.9375em) {
    .park-info-holder {
        text-align: center;
    }
    .img {
        width: 100%;
        object-fit: cover;
    }
    .clicked-parks, .saved-parks {
        margin: 15px;
    }
}

/* Medium (640px to 1023px) */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .park-info-holder {
        padding-left: 2%;
    }
    .park-description {
        font-size: 1.25rem;
    }
    .clicked-parks, .saved-parks {
        margin: 25px;
    }
}
/* Large (1024px) and up */
@media screen and (min-width: 64em) {
    .park-info-holder {
        padding-left: 2%;
    }

}